<!-- creation navbar-->
<nav class="navbar navbar-expand-sm  justify-content-between">
  <ul class="navbar-nav">
    <!-- logo-->
    <li class="nav-item">
      <a class="nav-brand" href="#">
        <img src="/images/logo1.png" class="rounded-circle" alt="logo">
      </a>
    </li>
    <!-- les elements du navbar-->
      <li class="nav-item div1 div2">
        <a class="nav-link" href="#">Accueil</a>
      </li>

      <li class="nav-item div2 ">
        <a class="nav-link" href="#">Forum</a>
      </li>

      <li class="nav-item div2 ">
        <a class="nav-link" href="inscription.html">S'inscrire</a>
      </li>
      <li class="nav-item div2 ">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <!-- fin de la creation des element-->
  </ul>
  <!-- creation de button recherche-->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
      <a class="nav-link active" href="#" >
        <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
      Login</a>	
    </form>
</nav>