<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
<div class="container">
    <div>
            <img src="/images/images.png" alt="profile">
    </div>
        <div>
            <h1>Profile</h1>
            <div>
                    welcome to your account
            </div>
            
            
        
        </div>
</div>